name: Build
on:
  pull_request:
  workflow_dispatch:

jobs:
  openjdk8-linux:
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Java 8
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '8.0.382+5'
          check-latest: false

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          NOCONFIGURE=1 ./autogen.sh
          ./configure --prefix=/tmp/jamvm --with-java-runtime-library=openjdk8
          make
          make install

      - name: Run JamVM with OpenJDK launcher
        run: |
          mkdir -p $JAVA_HOME/jre/lib/amd64/jamvm
          cp /tmp/jamvm/lib/libjvm.so $JAVA_HOME/jre/lib/amd64/jamvm/
          $JAVA_HOME/bin/java -XXaltjvm=jamvm -version

      - name: Check out Malva
        uses: actions/checkout@v4
        with:
          repository: ingelabs/malva
          path: malva

      - name: Run tests
        run: |
          cd malva
          JAVA="$JAVA_HOME/bin/java -XXaltjvm=jamvm" make check

  openjdk8-macos:
    runs-on: macos-15
    steps:
      - name: Set up Java 8
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '8.0.482+8'
          check-latest: false

      - name: Install dependencies
        run: |
          brew install automake libtool
          echo "$(brew --prefix libtool)/libexec/gnubin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          NOCONFIGURE=1 ./autogen.sh
          ./configure --prefix=/tmp/jamvm --with-java-runtime-library=openjdk8
          make
          make install

      - name: Run JamVM with OpenJDK launcher
        run: |
          mkdir -p $JAVA_HOME/jre/lib/jamvm
          cp /tmp/jamvm/lib/libjvm.dylib $JAVA_HOME/jre/lib/jamvm/
          $JAVA_HOME/bin/java -XXaltjvm=jamvm -version

      - name: Check out Malva
        uses: actions/checkout@v4
        with:
          repository: ingelabs/malva
          path: malva

      - name: Run tests
        run: |
          cd malva
          JAVA="$JAVA_HOME/bin/java -XXaltjvm=jamvm" make check

  classpath:
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install gettext libgtk2.0-dev

      - name: Set up Java 8
        run: |
          echo "JAVA_HOME=$JAVA_HOME_8_X64" >> "$GITHUB_ENV"
          echo "$JAVA_HOME_8_X64/bin" >> "$GITHUB_PATH"

      - name: Check out Classpath
        uses: actions/checkout@v4
        with:
          repository: ingelabs/classpath
          path: classpath

      - name: Build GNU Classpath
        run: |
          cd classpath
          ./autogen.sh
          ./configure \
            --disable-alsa \
            --disable-dssi \
            --disable-gconf-peer \
            --enable-default-preferences-peer=file \
            --disable-gtk-peer \
            --disable-plugin \
            --disable-examples \
            --disable-tools \
            --disable-gjdoc
          make && sudo make install

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          NOCONFIGURE=1 ./autogen.sh
          ./configure
          make && sudo make install

      - name: Run JamVM
        run: |
          /usr/local/jamvm/bin/jamvm -version

      - name: Check out Malva
        uses: actions/checkout@v4
        with:
          repository: ingelabs/malva
          path: malva

      - name: Run tests
        run: |
          cd malva
          JAVA=/usr/local/jamvm/bin/jamvm make check
